@use "sass:math";
// creates dynamic length throughout different screensizes
@function fluid-length(
  $min-length,
  $max-length,
  $min-viewport: 23.4375,
  $max-viewport: 90
) {
  $slope: math.div($max-length - $min-length, $max-viewport - $min-viewport);

  @return clamp(
    #{$min-length}rem,
    #{$min-length}rem + #{$slope * 100}vw - #{$slope * $min-viewport}rem,
    #{$max-length}rem
  );
}
